.depoimentos {
  position: relative;
  margin-top: 80px;

  .titulo-1::before {
    content: url(../img/dente-preenchido-p2.svg);
  }

  .titulo-1::after {
    background-color: var(--p2);
  }
}

.depoimentos-intro {
  background-color: var(--c1);
  border-radius: 8px;
  margin-top: 64px;
}

.depoimentos-intro-conteudo {
  display: flex;
  gap: 200px;
  padding: 40px;

  img {
    width: 340px;
    border-radius: 8px;
  }
}

.depoimentos-intro-texto {
  position: relative;
  margin-top: 64px;

  h2 {
    position: relative;
    color: var(--c7);
  }

  p {
    position: relative;
    max-width: 30rem;
    margin-top: 20px;

    color: var(--c8);
  }
}

.depoimentos-intro-texto h2::before {
  position: absolute;
  content: url(../img/aspas.svg);
  left: -80px;
  top: -68px;
}

.depoimentos-intro-texto p::after {
  position: absolute;
  content: url(../img/aspas.svg);
  rotate: 180deg;
  right: -56px;
  bottom: -68px;
}

@media (max-width: 1200px) {
  .depoimentos {
    margin-top: 40px;
  }

  .depoimentos-intro {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .depoimentos-intro-conteudo {
    gap: 80px;
  }

  .depoimentos-intro-texto {
    margin-top: 32px;
  }

  .depoimentos-intro-texto h2::before {
    display: none;
  }

  .depoimentos-intro-texto p::after {
    display: none;
  }
}

@media (max-width: 800px) {
  .depoimentos-intro {
    margin-top: 40px;
  }

  .depoimentos-intro-conteudo {
    gap: 40px;

    img {
      border-radius: 100%;
      width: 64px;
      height: 64px;
      object-fit: cover;
      margin-top: 0;
    }
  }
  .depoimentos-intro-texto {
    margin-top: 0;

    h2 {
      color: var(--s2);
    }
  }
}

@media (max-width: 500px) {
  .depoimentos {
    .titulo-1::before {
      display: none;
    }
  }
  .depoimentos-intro-conteudo {
    img {
      display: none;
    }
  }
  .depoimentos-intro-texto {
    padding-left: 20px;
  }
  .depoimentos-intro-texto::before {
    position: absolute;
    content: "";
    background-color: var(--s1);
    width: 6px;
    height: 2px;
    left: 0;
    top: 10px;
  }
}

#depoimento01 {
  top: 200px;
}

.depoimentos-cols {
  margin-top: 64px;
}

.depoimento-cols-item {
  padding: 40px;
  max-width: 510px;
  border-radius: 8px;

  background-color: var(--c1);
  h2 {
    color: var(--c7);
  }
  p {
    color: var(--c8);
  }
}

.row1 {
  background-color: var(--p2);
  h2,
  p {
    color: var(--c1);
  }
}
.row2 {
  background-color: var(--s2);
  h2,
  p {
    color: var(--c8);
  }
}

.depoimentos-dois-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 20px;
  padding-bottom: 32px;
}

.depoimentos-tres-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px 20px;
}

#depoimento02 {
  bottom: 880px;
}

@media (max-width: 1200px) {
  .depoimentos-cols {
    max-width: 100%;
    margin-right: 40px;
    margin-left: 40px;
  }
  .depoimento-cols-item {
    max-width: 100%;
  }
  .depoimentos-dois-cols {
    gap: 20px;
  }

  .depoimentos-tres-cols {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .depoimentos-cols {
    margin: 32px 0 0 0;
  }
  .depoimento-cols-item {
    border-radius: 0;
    box-shadow: none;
  }
  .depoimentos-dois-cols {
    display: none;
  }
  .depoimentos-tres-cols {
    gap: 8px;
  }
}

.depoimentos-contato {
  margin-top: 120px;
}
