.detalhe-container {
  position: relative;
}

.detalhe-esquerda {
  position: absolute;
  z-index: -1;
  left: -100px;
  width: 200px;
}

.detalhe-direita {
  position: absolute;
  z-index: -1;
  right: -110px;
  width: 200px;
}

#footer01 {
  top: 40px;
}

#home01 {
  top: 200px;
}

#home02,
#home03 {
  top: 560px;
  z-index: 1;
}

#home04 {
  top: 400px;
}

.home-servicos .detalhe-direita {
  top: 33%;
}

.home-depoimentos-conteudo .detalhe-esquerda {
  z-index: 1;
}

.sobre {
  .detalhe-direita {
    right: -15vw;
    z-index: 1;
  }
  .detalhe-esquerda {
    left: -15vw;
    z-index: 1;
  }
}

.sobre-contato {
  .detalhe-esquerda {
    left: -34vw;
    z-index: 1;
  }
}

@media (max-width: 1500px) {
  .detalhe-esquerda {
    left: -18vw;
    max-width: 20%;
  }

  .sobre .detalhe-esquerda {
    left: -12vw;
    z-index: 1;
  }

  .detalhe-direita {
    right: -18vw;
    z-index: 2;
    max-width: 20%;
  }

  .sobre .detalhe-direita {
    right: -13vw;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .footer .detalhe-esquerda {
    left: -200px;
    max-width: 100%;
  }
}

@media (max-width: 800px) {
  .footer .detalhe-esquerda {
    min-width: 350px;
  }
}
