.footer {
  background-color: var(--white);
  position: relative;

  .footer-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 1;
  }

  h2 {
    padding: 64px 0 20px 0;
    color: var(--c8);
  }

  p {
    color: var(--c6);
  }

  .footer-listas {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin-top: 64px;

    ul {
      margin-bottom: 16px;
      color: var(--c8);
    }

    li {
      margin-bottom: 20px;
    }

    li > a {
      color: var(--c6);
      transition: all 0.4s;
    }

    li > a:hover {
      transition: all 0.2s;
      font-weight: bold;
      color: var(--p3);
    }

    li:last-child {
      margin-bottom: 120px;
    }

    .footer-redes-sociais li > a {
      position: relative;
      padding-left: 24px;
    }

    .footer-redes-sociais li > a::before {
      position: absolute;
      content: "";
      top: 2px;
      left: 0;
    }
    .footer-redes-sociais #instagram::before {
      content: url(../img/footer-instagram.svg);
    }
    .footer-redes-sociais #facebook::before {
      content: url(../img/footer-facebook.svg);
    }
  }

  span {
    grid-column: 1 / 3;
    position: relative;
    margin-bottom: 32px;
  }

  span::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--c3);
    top: -32px;
  }
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--c3);
}

@media (max-width: 1024px) {
  .footer {
    .footer-conteudo {
      max-width: 100%;
      margin: 0 64px;
      grid-template-columns: 1fr;
    }

    .footer-listas {
      justify-content: space-between;
      margin-top: 20px;
      ul li:last-child {
        margin-bottom: 64px;
      }
    }

    span {
      grid-column: auto;
    }
  }
}

@media (max-width: 800px) {
  .footer {
    .footer-listas {
      grid-template-columns: repeat(auto-fit, 175px);
      gap: 0;

      ul:last-child li:last-child {
        margin-bottom: 64px;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .footer-listas {
      grid-template-columns: 1fr;
      ul li:last-child {
        margin-bottom: 32px;
        li {
          margin-bottom: 12px;
        }
      }
    }
    .footer-listas ul {
      position: relative;
    }
    .footer-listas ul + ul::after {
      content: "";
      position: absolute;
      height: 2px;
      top: -20px;
      width: 20%;
      background-color: var(--c2);
    }
  }
}
