:root {
  --c1: #f3f3e0;
  --c2: #d9d9cc;
  --c3: #c4c4b5;
  --c4: #adad99;
  --c5: #96968b;
  --c6: #808077;
  --c7: #63635c;
  --c8: #33332f;
  --p1: #45aed1;
  --p2: #2973b2;
  --p3: #1a4f99;
  --s1: #67c3c5;
  --s2: #48a6a7;
  --s3: #309293;
  --white: #fff;
  --black: #000;
  --grad1: linear-gradient(var(--c1), var(--c3));
  --grad2: linear-gradient(var(--p2), var(--p3));
  --grad3: linear-gradient(var(--s1), var(--s2));
  --grad4: linear-gradient(var(--c7), var(--c8));
}

.c1 {
  background-color: var(--c1);
}
.c2 {
  background-color: var(--c2);
}
.c3 {
  background-color: var(--c3);
}
.c4 {
  background-color: var(--c4);
}
.c5 {
  background-color: var(--c5);
}
.c6 {
  background-color: var(--c6);
}
.c7 {
  background-color: var(--c7);
}
.c8 {
  background-color: var(--c8);
}
.p1 {
  background-color: var(--p1);
}
.p2 {
  background-color: var(--p2);
}
.p3 {
  background-color: var(--p3);
}
.s1 {
  background-color: var(--s1);
}
.s2 {
  background-color: var(--s2);
}
.s3 {
  background-color: var(--s3);
}

.font-XXL {
  font: 600 4rem/1.25 "Figtree";
}

.font-XL {
  font: 600 2.5rem/1.2 "Figtree";
}

.font-L {
  font: 500 2rem/1 "Figtree";
}

.font-XM {
  font: 500 1.75rem/1 "Figtree";
}

.font-M1 {
  font: 500 1.5rem/1.33 "Figtree";
}

.font-M2 {
  font: 600 1.5rem/1.17 "Figtree";
  text-transform: uppercase;
}

.font-M3 {
  font: 500 1.5rem/1.17 "Figtree";
}

.font-M4 {
  font: 400 1.5rem/1 "Figtree";
}

.font-S1 {
  font: 400 1.25rem/1.4 "Figtree";
}

.font-S2 {
  font: 300 1.25rem/1.2 "Figtree";
}

.font-XS {
  font: 300 1rem/1.25 "Figtree";
}

.grad1 {
  background-image: linear-gradient(var(--c1), var(--c3));
}

.grad2 {
  background-image: linear-gradient(var(--p2), var(--p3));
}

.grad3 {
  background-image: linear-gradient(var(--s1), var(--s2));
}

.grad4 {
  background-image: linear-gradient(var(--c7), var(--c8));
}

.shadow1 {
  box-shadow: 0 4px 6px var(--c3);
}

.shadow2 {
  box-shadow: 0 6px 10px var(--c3);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 800px) {
  .font-XXL {
    font: 600 2.75rem/1.25 "Figtree";
  }
  .font-XL {
    font: 600 2.25rem/1.2 "Figtree";
  }
  .font-M1 {
    font: 500 1.25rem/1.33 "Figtree";
  }
  .font-M3 {
    font: 500 1.25rem/1.17 "Figtree";
  }
  .font-S1 {
    font: 400 1.15rem/1.4 "Figtree";
  }
}

@media (max-width: 500px) {
  .font-XXL {
    font: 600 2.25rem/1.25 "Figtree";
  }
  .font-L {
    font: 500 1.75rem/1 "Figtree";
  }
}
