.header {
  background-color: var(--c1);
  min-height: 80px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header-logo {
  color: var(--c8);
}

.header-menu {
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.header-menu a {
  color: var(--c7);
  position: relative;
}

.header-menu li + li a::before {
  content: "";
  position: absolute;
  background-color: var(--c4);
  width: 8px;
  height: 2px;
  left: -28px;
  top: 13px;
  border-radius: 8px;
}

.header-contato {
  color: var(--p3);
}
