.header {
  background-color: var(--c1);
  min-height: 80px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}

.header-logo {
  color: var(--c8);
}

.header-menu {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  a {
    color: var(--c7);
    position: relative;
  }

  li + li a::before {
    content: "";
    position: absolute;
    background-color: var(--c4);
    width: 8px;
    height: 2px;
    left: -28px;
    top: 13px;
    border-radius: 8px;
  }
}

.header-contato {
  color: var(--p3);
}

@media (max-width: 1200px) {
  .header-menu {
    display: none;
  }
}

.home-introducao {
  position: relative;
  img {
    max-width: 100%;
  }
}

.home-introducao-conteudo {
  position: absolute;
  bottom: 40px;
  display: grid;
  grid-template-columns: 580px;
  justify-items: start;
  h1 {
    color: var(--c1);
    margin-bottom: 20px;
  }
  p {
    color: var(--c3);
    margin-bottom: 40px;
  }
  a {
    color: var(--p3);
    padding: 15px 30px;
    border-radius: 8px;
    background: var(--grad1);
    transition: all 0.4s;
  }
  a:hover {
    transition: all 0.4s;
    background: var(--grad2);
    color: var(--c1);
    letter-spacing: 1px;
  }
}

@media (max-width: 1200px) {
  .body {
    background-color: var(--white);
  }
  .home-introducao {
    position: inherit;
    img {
      display: none;
    }
  }
  .home-introducao-conteudo {
    position: inherit;
    margin-top: 64px;
    justify-content: center;
    justify-items: center;
    grid-template-columns: auto;
    text-align: center;
    h1 {
      color: var(--p2);
      position: relative;
      margin-bottom: 32px;
    }
    p {
      color: var(--c8);
      margin-bottom: 32px;
      text-align: center;
    }
    a {
      box-shadow: 0 4px 6px var(--c3);
    }
    a:hover {
      box-shadow: 0 6px 10px var(--c3);
    }
  }
}

.home-sobre {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  padding: 40px;
  border-radius: 8px;
  img {
    max-width: 440px;
  }
}

.home-sobre-conteudo {
  h2 {
    margin-bottom: 24px;
    color: var(--p2);
    position: relative;
    display: inline-block;
  }
  h2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 305px;
    /* border-radius: 50px; */
    background-color: var(--p2);
    left: 0;
    bottom: -2px;
  }
  p {
    margin-bottom: 40px;
  }
  a {
    color: var(--c1);
    padding: 15px 30px;
    border-radius: 8px;
    transition: all 0.4s;
    background: var(--grad2);
  }
  a:hover {
    letter-spacing: 1px;
    transition: all 0.4s;
    background: var(--grad1);
    color: var(--p3);
    box-shadow: 0 6px 10px var(--c3);
  }
}

.home-servicos {
  background-color: var(--white);
  margin-top: 80px;
  padding: 40px;
  border-radius: 8px;
  text-align: center;

  h2 {
    color: var(--s2);
    position: relative;
    display: inline;
  }

  h2::after {
    content: "";
    width: 88%;
    height: 2px;
    background-color: var(--s2);
    border-radius: 8px;
    position: absolute;
    left: 6%;
    bottom: -2px;
  }
  img {
    margin-top: 20px;
    max-width: 100%;
  }
}
.home-servicos-conteudo {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 60px 40px;
  justify-content: center;

  span {
    color: var(--c7);
  }
}

.btn-saiba-mais {
  background: var(--grad3);
  color: var(--c8);
  display: inline-block;
  padding: 20px 40px;
  border-radius: 8px;
  margin-top: 40px;
  transition: all 0.4s;
}

.btn-saiba-mais:hover {
  letter-spacing: 1px;
  transition: all 0.4s;
  background: var(--grad2);
  color: var(--c1);
  /* box-shadow: 0 6px 10px var(--c3); */
}

@media (max-width: 1200px) {
  .home-sobre {
    background-color: var(--c1);
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;

    img {
      display: none;
    }
    .home-sobre-conteudo {
      h2 {
        color: var(--s3);
      }
      h2::after {
        background-color: var(--s3);
        left: 6%;
      }
      a {
        background: var(--grad3);
      }
    }
  }
  .home-servicos {
    background-color: var(--c1);
  }
  .home-servicos-conteudo {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (max-width: 800px) {
  .home-sobre,
  .home-servicos {
    max-width: 100%;
    box-shadow: none;
    margin-top: 64px;
    border-radius: 0;

    h2::after {
      width: 0;
    }
  }
  .home-servicos-conteudo {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-template-rows: repeat(autofill, 200px);
    align-items: end;
  }
}

@media (max-width: 500px) {
  .home-servicos-conteudo {
    grid-template-columns: 300px;
  }
}

.home-depoimentos {
  background-color: var(--white);
  margin-top: 120px;
  margin-bottom: 180px;
  display: grid;

  h1 {
    color: var(--p2);
    padding-top: 60px;
    position: relative;
    justify-self: center;
  }

  h1::after {
    content: "";
    position: absolute;
    background-color: var(--p2);
    height: 2px;
    width: 88%;
    bottom: -2px;
    left: 6%;
  }

  a {
    background: var(--c7);
    color: var(--c1);
    justify-self: center;
    padding: 15px 30px;
    margin-bottom: 64px;
    margin-top: 20px;
    border-radius: 8px;
    transition: all 0.4s;
  }

  a:hover {
    letter-spacing: 1px;
    transition: all 0.4s;
    background: var(--p2);
    box-shadow: 0 6px 10px var(--c3);
  }
}

.home-depoimentos-conteudo {
  column-count: 3;
  margin-top: 64px;
}

.home-depoimentos-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  padding: 20px;
  max-width: 360px;
}

.home-depoimentos-item > div {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.depoimento-img {
  max-width: 80px;
  border-radius: 50px;
  border: 2px solid var(--p1);
}

.depoimento-estrelas {
  background-image: url("../img/estrela.svg");
  width: 160px;
  height: 32px;
}

.depoimento-texto {
  padding-top: 16px;
}

@media (max-width: 1200px) {
  .home-depoimentos {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .home-depoimentos h1 {
    padding-top: 0;
  }
  .home-depoimentos h1::after {
    width: 0px;
  }

  .home-depoimentos a {
    padding: 20px 40px;
    margin-bottom: 0px;
  }

  .home-depoimentos-conteudo {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .home-depoimentos-conteudo {
    column-count: 1;
  }

  .home-depoimentos-item {
    max-width: none;
  }
}

.form-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-contato-text {
  background-color: var(--white);
  border-radius: 8px 0 0 8px;
  h2 {
    color: var(--black);
    margin: 64px 80px;
    position: relative;
    display: inline-block;
  }

  h2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 88%;
    bottom: -2px;
    left: 0;
    border-radius: 50px;
    background-color: var(--black);
  }
}

.form-contato-item {
  position: relative;
  margin-left: 108px;
  margin-bottom: 42px;
  display: grid;
  gap: 8px;
  h3 {
    color: var(--c8);
  }

  span {
    color: var(--c7);
    display: block;
  }
}

.form-contato-item::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 120px;
  background-color: var(--c2);
  bottom: -8px;
}

.form-contato-form {
  background-color: var(--c8);
  border-radius: 0 8px 8px 0;
  padding: 80px 0;
  display: grid;

  label {
    color: var(--white);
    display: block;
    margin: 40px 64px 16px 64px;
  }

  input,
  textarea {
    border: none;
    padding: 16px;
    margin: 0 64px;
    border-radius: 8px;
    color: var(--black);
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--c3);
  }

  button {
    text-align: center;
    margin-top: 40px;
    padding: 15px 30px;
    justify-self: center;
    background: var(--grad2);
    border: none;
    border-radius: 8px;
    color: var(--c1);
    transition: all 0.4s;
  }

  button:hover {
    transition: all 0.4s;
    background: var(--grad3);
    color: var(--c8);
  }
}

.home-contato-informações {
  display: grid;
  justify-self: center;
}

.home-contato-informações h2 {
  color: var(--s3);
  text-align: center;
  margin-top: 60px;
}

.home-contato-informações img {
  margin-top: 40px;
  box-shadow: 0 4px 6px var(--c3);
  border-radius: 8px;
  max-width: 100%;
}

.home-contato-informações span {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

@media (max-width: 1200px) {
  .home-contato {
    max-width: 100vw;
  }

  .form-contato-text {
    border-radius: 0px;
  }

  .form-contato-text h2 {
    margin: 64px;
  }
  .form-contato-item {
    margin-left: 64px;
  }

  .form-contato-form {
    border-radius: 0px;
    label,
    input,
    textarea {
      margin: 8px 32px;
    }
  }
}

@media (max-width: 800px) {
  .form-contato {
    grid-template-columns: 1fr;
  }

  .form-contato-text {
    border-radius: 8px 8px 0 0;
    box-shadow: none;
    background-color: var(--c1);

    h2 {
      display: block;
      text-align: center;
      margin: 32px 0;
    }

    h2::after {
      width: 0;
    }
  }

  .form-contato-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .form-contato-item {
    margin-left: 0px;
    justify-items: center;
    align-content: center;
    min-width: 275px;
    margin-bottom: 64px;
  }

  .form-contato-form {
    padding: 40px;
    label,
    input,
    textarea {
      margin: 8px 40px;
    }
  }
}

@media (max-width: 500px) {
  .form-contato-form {
    padding: 40px 0 64px 0;
  }
}

.footer {
  background-color: var(--white);
  position: relative;

  img {
    position: absolute;

    left: -120px;
    top: 15px;
    max-height: calc(100% - 15px);
  }

  .footer-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
  }

  h2 {
    padding: 64px 0 20px 0;
    color: var(--c8);
  }

  p {
    color: var(--c6);
  }

  .footer-listas {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin-top: 64px;

    ul {
      margin-bottom: 16px;
      color: var(--c8);
    }

    li {
      margin-bottom: 20px;
    }

    li > a {
      color: var(--c6);
      transition: all 0.4s;
    }

    li > a:hover {
      transition: all 0.2s;
      font-weight: bold;
      color: var(--p3);
    }

    li:last-child {
      margin-bottom: 120px;
    }
  }

  span {
    grid-column: 1 / 3;
    position: relative;
    margin-bottom: 32px;
  }

  span::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--c3);
    top: -32px;
  }
}

.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--c3);
}
