.procedimentos {
  margin-top: 80px;
}

.procedimentos .titulo-1::after {
  background-color: var(--p2);
}

.procedimentos .titulo-1::before {
  content: url(../img/dente-preenchido-p2.svg);
}

.procedimento-item {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 20px;
  margin-top: 40px;
  img {
    max-width: 480px;
    border-radius: 8px;
  }
}

.procedimento-item + .procedimento-item {
  margin-top: 80px;
}

.procedimento-item:nth-child(2) {
  grid-template-columns: 7fr 5fr;
}

.procedimento-item-textos {
  h2 {
    color: var(--c8);
  }
  h3 {
    color: var(--c7);
    margin-top: 20px;
  }
  p + h3 {
    margin-top: 32px;
  }
  p {
    position: relative;
    color: var(--c7);
    margin-left: 20px;
    margin-top: 16px;
  }
  p::before {
    content: "";
    position: absolute;
    background-color: var(--p1);
    width: 8px;
    height: 2px;
    left: -16px;
    top: 12px;
  }
}

@media (max-width: 1200px) {
  .procedimentos {
    margin-top: 40px;
  }

  .procedimento-item {
    img {
      max-width: 280px;
      height: 100%;
      object-fit: cover;
    }
  }

  .procedimento-item-textos {
    p::before {
      top: 9px;
    }
  }
}

@media (max-width: 800px) {
  .procedimento-item {
    display: block;
    img {
      display: none;
    }
  }

  .procedimento-item + .procedimento-item {
    margin-top: 64px;
  }

  .procedimento-item + .procedimento-item::after {
    content: "";
    position: absolute;
    width: 88%;
    height: 2px;
    top: -32px;
    background-color: var(--c3);
  }
  .procedimento-item-textos {
    p + h3 {
      margin-top: 20px;
    }
  }
}
