.procedimentos {
  margin-top: 80px;
}

.procedimentos .titulo-1::after {
  background-color: var(--p2);
}

.procedimentos .titulo-1::before {
  content: url(../img/dente-preenchido-p2.svg);
}
