.sobre {
  padding-top: 80px;
  .titulo::before {
    content: url(../img/dente-preenchido-p2.svg);
  }

  .titulo::after {
    background-color: var(--p2);
  }
}
.sobre-introducao {
  padding-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sobre-introducao img {
  border-radius: 8px;
  max-width: 100%;
}

.sobre-introducao-text {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-top: 20px;
  margin-bottom: 60px;

  h2 {
    position: relative;
    color: var(--s1);
  }

  h2::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 305px;
    bottom: -2px;
    left: 0;
    background-color: var(--s2);
    border-radius: 8px;
  }
  p:first-of-type {
    margin-top: 32px;
  }
  p:last-of-type {
    margin-top: 20px;
  }
  .btn {
    margin-top: 60px;
    align-self: flex-start;
  }
}
